{% extends "privatemessages/base_chat.html" %}

{% load static from staticfiles %}

{% block title %}{{ partner.username }}{% endblock %}

{% block extra_head %}
  {{ block.super }}

  <script type="text/javascript" src="http://yandex.st/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="{% static "privatemessages/chat.js" %}"></script>

  <script type="text/javascript">
    $(document).ready(function() {
        activate_chat({{ thread_id }}, "{{ user.username }}", {
            "total": 8,
            "sent": 4,
            "received": 4
        });
    });
  </script>
{% endblock %}

{% block content %}
  <div class="chat">
      <div class="conversation">
          {% for message in thread_messages reversed %}
            <div class="message">
              {% if message.sender == user %}
                <p class="author we">
                  <span class="datetime">{{ message.datetime|date:"d.m.Y H:i:s" }}</span> {{ user.username }}:
                </p>
              {% else %}
                <p class="author partner"><span class="datetime">
                  {{ message.datetime|date:"d.m.Y H:i:s" }}</span> {{ partner.username }}:
                </p>
              {% endif %}

              <p class="message">{{ message.text|linebreaksbr }}</p>
            </div>
          {% endfor %}
      </div>

      <form class="message_form">
          <div class="compose">
              <textarea rows="1" cols="30" id="message_textarea"></textarea>
          </div>

          <div class="send">
              <button class="btn" type="button">Отправить</button>
              <p>Вы также можете отправлять сообщения с помощью клавиш Ctrl + Enter.</p>

              <a href="{% url 'logout' %}">Logout</a>
          </div>
      </form>
  </div>
{% endblock %}
